body{
    width: 100%;
    height: 100vh;
    background-color:$OffBlack;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.card{
    width: 384px;
    background-color:$Grey;
    font-family: $FontFamily;
    &__author-info{
     text-align: center; 
     padding: 2.5rem;
    }

&__author-avatar{
    border-radius: 15rem;
    width: 88px;
    margin-bottom: 24px;
}
&__author-name{
    color:$White ;
    font-weight: 100;
    font-size: 1.4rem;
    letter-spacing: 1px;
    margin-bottom: .5rem;
}
&__author-location{
      color: $Green;
      font-size: .9rem;
}
&__author-description{
    color: $White;
    font-size: .8rem;
    font-weight:100;
    margin-top: 30px;
    word-spacing: 5px;
}

}
